<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "app/xyz.capricholucero.www"
        version   = "1.0.0">

    <name>cuentos cortos</name>

    <description>
        Cuentos para armar segun tu capricho
    </description>

    <author href="http://colorincolorado.xyz" email="silvina.orengo@gmail.com">
        Silvina Orengo
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screens/android/screen-hdpi-portrait.png" density="land-hdpi"/>
    <splash src="res/screens/android/screen-ldpi-portrait.png" density="land-ldpi"/>
    <splash src="res/screens/android/screen-mdpi-portrait.png" density="land-mdpi"/>
    <splash src="res/screens/android/screen-xhdpi-portrait.png" density="land-xhdpi"/>
	
 <splash src="res/screens/android/screen-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screens/android/screen-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screens/android/screen-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
    
</platform>

<preference name="SplashScreenDelay" value="10000" />

    <!-- Plugins -->
<preference name="SplashScreen" value="foo" />

<preference name="SplashScreenDelay" value="10000" />

<preference name="SplashMaintainAspectRatio" value="true" />
 

    <!-- Define app icon for each platform. This is a relative path to config.xml.
        For e.g. if you place an icon.png inside res folder, you should modify the
        src in the following setting to "res/icon.png" -->
    <icon src="icon.png" />

   
    <access />


</widget>