@charset "utf-8";
/* CSS Document */

@font-face {
    font-family:'fishfingersregular';
    src:url(tipografias/fishfingers-webfont.eot);
    src:url(tipografias/Fishfingers.ttf);
    src: url(tipografias/fishfingers-webfont.ttf);
	src:url(tipografias/Fishfingers%20Light.ttf);
     
	font-weight: normal;
    font-style: normal;
}  
@font-face {
	
    font-family: 'FVAlmeloRegular';
    src:url(tipografias/FV_Almelo.ttf);
	src:url(tipografias/fv_almelo-webfont.eot);
	src:url(tipografias/fv_almelo-webfont.svg);
	src:url(tipografias/fv_almelo-webfont.ttf);
	src:url(tipografias/fv_almelo-webfont.woff);
     font-weight: normal;
    font-style: normal;
}

h1{ text-transform:uppercase;
color:#999;
font-family: 'FVAlmeloRegular';
letter-spacing:2pt;	
}

h2{
font-family: 'FVAlmeloRegular';
letter-spacing:2pt;	
}

h3{text-align:center;
font-family: 'fishfingersregular';
font-weight:bold;
text-transform:uppercase;
font-size:30px;
letter-spacing:5pt;
color:#FFF;

}

#popupmimosin, #popuppichibu, #popuppintita, #popuptuntun,
#popupbosque,#popupciudad, #popupplaza, #popupplaya, #popupinesperado,#popupfeliz, #popupsorpresivo,#popuptriste{
	background-color:#869ea5;
}

h4{ 
font-family: 'FVAlmeloRegular';
text-align:center;
letter-spacing:3pt;
color:#000;
font-size:18px;
font-style: normal;
}

img{
	margin:0;
	padding:0;
	width:100%;
height:auto;
}

body{
	margin:0;
	padding:0;
	color:#0F0;
	background-color:#869ea5;
	}
	

.ui-content{
	background-color:#869ea5;
	text-transform:uppercase;
	margin:0;
	padding:0;
}

.ui-content p{
	color:#000;
	text-align:center;
}
	
.ui-content p span{
color:#fcf07e;
font-family: 'fishfingersregular';
font-weight:bold;
font-size:26px;
letter-spacing:5pt;
width:100%;
}
.ui-content p{
color:#FFF;
font-family: 'FVAlmeloRegular';
text-align:center;
letter-spacing:5pt;
color:#000;
font-size:18px;
font-style: normal;
}

.ui-grid-a ui-responsive button{
max-width:50%;
height:auto;
margin:0;
padding:0;
border:none;
}
	
.elheader, .elfooter{
height:3em;
}
.elfooter{
	background-color:#869ea5;
	border:none;
}
a{
	margin:0;
	padding:0;
	border:none;	
}

